<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Angry Music</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
  <div class="relative flex min-h-screen flex-col justify-center overflow-hidden bg-gray-50 py-6 sm:py-12">
    <div
      class="absolute inset-0 bg-[url(/img/grid.svg)] bg-center [mask-image:linear-gradient(180deg,white,rgba(255,255,255,0))]">
    </div>
    <div
      class="relative bg-white px-6 pt-10 pb-8 shadow-xl ring-1 ring-gray-900/5 sm:mx-auto sm:max-w-lg sm:rounded-lg sm:px-10">
      <div class="mx-auto max-w-md">
        <img src="/static/logo.png">
        <div class="divide-y divide-gray-300/50">
          <div class="space-y-6 py-8 text-base leading-7 text-gray-600">
            <p class="text-xl"> 为抖音内内容创作的配乐场景提供简易好用的个性化表达的能力，让配乐更符合作品的语境。</p>
            <ul class="space-y-4">
              <li class="flex items-center">
                <img class="rounded-full box-content h-12 w-12"
                  src="https://s1-imfile.feishucdn.com/static-resource/v1/v2_be0f9c03-73c2-4d83-9bc1-1c082214486g~?image_size=72x72&cut_type=default-face&quality=&format=jpeg&sticker_format=.webp" />
                <p class="ml-4 text-l">
                  最帅队长：
                </p>
                <code class="text-xl font-bold text-gray-900">彭世晨</code>
              </li>
              <li class="flex items-center">
                <img class="rounded-full box-content h-12 w-12"
                  src="https://s3-imfile.feishucdn.com/static-resource/v1/v2_386cb007-a46d-460e-953a-c42e8baf7bdg~?image_size=72x72&cut_type=default-face&quality=&format=jpeg&sticker_format=.webp" />
                <p class="ml-4 text-l">
                  最强经纪人：
                </p>
                <code class="text-xl font-bold text-gray-900">夏斌</code>
              </li>
              <li class="flex items-center">
                <img class="rounded-full box-content h-12 w-12"
                  src="https://s3-imfile.feishucdn.com/static-resource/v1/v2_3a3bae76-a2e8-41f9-880b-f471d0e8d04g~?image_size=72x72&cut_type=default-face&quality=&format=jpeg&sticker_format=.webp" />
                <p class="ml-4 text-l">
                  最强节奏大师：
                </p>
                <code class="text-xl font-bold text-gray-900">李璇</code>

              </li>
              <li class="flex items-center">
                <img class="rounded-full box-content h-12 w-12"
                  src="https://s3-imfile.feishucdn.com/static-resource/v1/v2_d40f98a1-3441-4e3c-8a89-e7ce9898571g~?image_size=72x72&cut_type=default-face&quality=&format=jpeg&sticker_format=.webp" />
                <p class="ml-4 text-l">
                  最强音乐制作人：
                </p>
                <code class="text-xl font-bold text-gray-900">谢金峰</code>

              </li>
              <li class="flex items-center">
                <img class="rounded-full box-content h-12 w-12"
                  src="https://s3-imfile.feishucdn.com/static-resource/avatar/v2_903db591-18fb-45df-963c-57f33924e2bg_64.webp" />
                <p class="ml-4 text-l">
                  最强贝斯手：
                </p>
                <code class="text-xl font-bold text-gray-900">房晓敏</code>
              </li>
            </ul>
          </div>
          <div class="pt-8 text-base font-semibold leading-7">
            <p>
              <a href="https://bytedance.feishu.cn/docx/ViNkd8BRoo4o1bxXoqtcxIXynEg"
                class="text-sky-500 hover:text-sky-600">愤怒的音乐 &rarr;</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>